textarea#textarea_censoreComment{
    position:relative;
    height:30%;
    width:100%;
}

table#table_doCensore{
    position:relative;
    height:70%;
    width:100%;
    border:1px solid black;
}

select#select_StateOption{
    position:relative;
    height:40%;
    width:80%;
}

select#select_censoreOption{
    position:relative;
    height:40%;
    width:80%;
}


button#btnOk_censoreOption{
    position:relative;
    height:40%;
    width:50%;
}

button#btnCancel_censoreOption{
    position:relative;
    height:40%;
    width:50%;
}

td#td_censoreOk
{
    text-align:center;
}

td#td_censoreCancel
{
    text-align:center;
}
