<link rel="stylesheet" type="text/css" href="/static/css/censoreOption.css" />
<script src="/static/js/censoreOption.js"></script>

<table id = "table_censoreOption">
  <tr id = "tr_nameCensoreOption">
    <td id = "td_censoreType">
            {{ censoreTypeName }}：
    </td>
    <td id = "td_censores">
        <select id = "select_censoreOption">
            {% for item in arrCensores%}
            <option value ={{ item.EF_UserName}}>{{ item.EF_UserName}}     </option>
            {% endfor %}
        </select>
    </td>
  </tr>
  <tr id = "tr_btnCensoreOption">
    <td id = "td_censoreOk">
      <button id = "btnOk_censoreOption" type="button" onclick="confirmCensore()">OK</button>
    </td>
    <td id = "td_censoreCancel">
      <button id = "btnCancel_censoreOption" type="button" onclick="cancelCensore()">Cancel</button>
    </td>
  </tr>
</table>



