<link rel="stylesheet" type="text/css" href="/static/css/formOption.css" />
<script src="/static/js/{{jsFileName}}.js"></script>

<!--表单的列表-->
<div id="formGrid">
</div>

<table id = "table_formOption">
  <tr id = "tr_btnFormOption">
    <td id = "td_FormOk">
      <button id = "btnOk_FormOption" type="button" onclick="confirmForm()">Confirm</button>
    </td>
    <td id = "td_FormCancel">
      <button id = "btnCancel_FormOption" type="button" onclick="cancelForm()">Cancel</button>
    </td>
  </tr>
</table>



