<!--jsgrid相关的css与js-->
<link rel="stylesheet" type="text/css" href="/static/css/showOneTable.css" />
<link rel="stylesheet" type="text/css" href="/static/css/jsgrid/jsgrid.css" />
<link rel="stylesheet" type="text/css" href="/static/css/jsgrid/theme.css" />
<script src="/static/js/{{pageType}}.js"></script>
<script src="/static/js/jsgrid/jsgrid.core.js"></script>
<script src="/static/js/jsgrid/jsgrid.load-indicator.js"></script>
<script src="/static/js/jsgrid/jsgrid.load-strategies.js"></script>
<script src="/static/js/jsgrid/jsgrid.sort-strategies.js"></script>
<script src="/static/js/jsgrid/jsgrid.field.js"></script>
<script src="/static/js/jsgrid/fields/jsgrid.field.text.js"></script>
<script src="/static/js/jsgrid/fields/jsgrid.field.number.js"></script>
<script src="/static/js/jsgrid/fields/jsgrid.field.float.js"></script>
<script src="/static/js/jsgrid/fields/jsgrid.field.select.js"></script>
<script src="/static/js/jsgrid/fields/jsgrid.field.checkbox.js"></script>
<script src="/static/js/jsgrid/fields/jsgrid.field.control.js"></script>

<!--右侧的用户列表-->
<div id="jsGrid">
</div>

