<link rel="stylesheet" type="text/css" href="/static/css/showModifyPassword.css" />
<script src="/static/js/showModifyPassword.js"></script>
<div id="div_ModifyPassword">
    原&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp密&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp码:
    <input id = "input_OldPassword" type="password"/>

    <br>
    新&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp密&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp码:
    <input id = "input_NewPassword" type="password"/>

    <br>
    再次输入新密码:
    <input id = "input_ReNewPassword" type="password"/>

    <br>
    <input id = "input_ModifyPassword" type="submit" value="确认" onclick=" return modifyPassword('input_OldPassword', 'input_NewPassword', 'input_ReNewPassword')"/>
</div>
