
<!DOCTYPE html>
<html>

<head>
    <title>个人管理页面</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"> 
    <link rel="stylesheet" type="text/css" href="/static/css/userHome.css"/>
    <script type="text/javascript" src="/static/js/jquery-3.3.1.js"></script>
    <!--jsgrid相关的css与js-->
    <link rel="stylesheet" type="text/css" href="/static/css/jsgrid/jsgrid.css" />
    <link rel="stylesheet" type="text/css" href="/static/css/jsgrid/theme.css" />
    <script src="/static/js/jsgrid/jsgrid.core.js"></script>
    <script src="/static/js/jsgrid/jsgrid.load-indicator.js"></script>
    <script src="/static/js/jsgrid/jsgrid.load-strategies.js"></script>
    <script src="/static/js/jsgrid/jsgrid.sort-strategies.js"></script>
    <script src="/static/js/jsgrid/jsgrid.field.js"></script>
    <script src="/static/js/jsgrid/fields/jsgrid.field.text.js"></script>
    <script src="/static/js/jsgrid/fields/jsgrid.field.number.js"></script>
    <script src="/static/js/jsgrid/fields/jsgrid.field.float.js"></script>
    <script src="/static/js/jsgrid/fields/jsgrid.field.select.js"></script>
    <script src="/static/js/jsgrid/fields/jsgrid.field.checkbox.js"></script>
    <script src="/static/js/jsgrid/fields/jsgrid.field.control.js"></script>

    <!--数据管理相关的js-->
    <script src="/static/js/userHome.js"></script>
</head>

<body>

<!--左侧的功能界面-->
<div class="div_leftpalate">
    <ul class="ul_leftnavi">
        <li class="li_leftnavi">
            <a class="a_leftnavi" href="javascript:void(0)" 
                onclick="showSubNavi('ul_usercenter')">个人中心
            </a>
            <ul id="ul_usercenter" class="ul_leftsubnavi">
                <li class="li_leftsubnavi">
                    <a class="a_leftsubnavi" href="javascript:void(0)"
                        onclick="showUserInfo('div_RightPage', 'jsGrid')">{{ userName }}
                    </a>
                </li>
                <li class="li_leftsubnavi">
                    <a class="a_leftsubnavi" href="javascript:void(0)"
                        onclick="modifyPassword()">修改密码
                    </a>
                </li>
                <li class="li_leftsubnavi">
                    <a class="a_leftsubnavi" href="javascript:void(0)"
                        onclick="logout()">退出账号
                    </a>
                </li>
            </ul>
        </li> 

        <!--只有超级管理员才可以看到-->
        {% if userType == '超级管理员' %}
        <li class="li_leftnavi">
            <a class="a_leftnavi" href="javascript:void(0)"
                onclick="showSubNavi('ul_usermanage')">用户管理
            </a>
            <ul id="ul_usermanage" class="ul_leftsubnavi">
                <li class="li_leftsubnavi">
                    <a class="a_leftsubnavi"  href="javascript:void(0)"
                        onclick="showUserStates()">用户状态
                    </a>
                </li>
                <li class="li_leftsubnavi">
                    <a class="a_leftsubnavi" href="javascript:void(0)"
                        onclick="showUserTypes()">用户类型</a>
                </li>
                <li class="li_leftsubnavi">
                    <a class="a_leftsubnavi" href="javascript:void(0)"
                        onclick="showStudentTypes()">学生类型
                    </a>
                </li>
                <li class="li_leftsubnavi">
                    <a class="a_leftsubnavi" href="javascript:void(0)"
                        onclick="showAdministrators()">管理员
                    </a>
                </li>
                <li class="li_leftsubnavi">
                    <a class="a_leftsubnavi" href="javascript:void(0)"
                        onclick="showChiefCollegeLeaders()">院长
                    </a>
                </li>
                <li class="li_leftsubnavi">
                    <a class="a_leftsubnavi" href="javascript:void(0)"
                        onclick="showCollegeLeaders()">副院长
                    </a>
                </li>
                <li class="li_leftsubnavi">
                    <a class="a_leftsubnavi" href="javascript:void(0)"
                        onclick="showTeachers()">教师
                    </a>
                </li>
                <li class="li_leftsubnavi">
                    <a class="a_leftsubnavi" href="javascript:void(0)"
                        onclick="showStudents()">学生
                    </a> 
                </li>
            </ul>
        </li>
        {% endif %}

        <!--只有超级管理员和管理员才可以看到-->
        {% if userType == '超级管理员' or userType == '管理员' %}
        <li class="li_leftnavi">
            <a class="a_leftnavi" href="javascript:void(0)"
                onclick="showSubNavi('ul_mattermanage')">药品管理
            </a>
            <ul id="ul_mattermanage" class="ul_leftsubnavi">
                <li class="li_leftsubnavi"> <a class="a_leftsubnavi" href="">入库</a> </li>
                <li class="li_leftsubnavi"> <a class="a_leftsubnavi" href="">出库</a> </li>
                <li class="li_leftsubnavi"> <a class="a_leftsubnavi" href="">预采购</a> </li>
            </ul>
        </li>
        {% endif %}

        <!--只有超级管理员、教师和学生可见-->
        {% if userType == '超级管理员' or userType == '教师' or userType == '研究生' or userType == '本科生' %}
        <li class="li_leftnavi">
            <a class="a_leftnavi" href="javascript:void(0)"
                onclick="showSubNavi('ul_financemanage')">经费管理
            </a>

            <ul id="ul_financemanage" class="ul_leftsubnavi">
                {% if userType == '超级管理员' %}
                <li class="li_leftsubnavi">
                    <a class="a_leftsubnavi" href="javascript:void(0)"
                        onclick="showFinances()">所有经费
                    </a>
                </li>

                <li class="li_leftsubnavi">
                    <a class="a_leftsubnavi" href="javascript:void(0)"
                        onclick="showFinances()">经费充值
                    </a>
                </li>

                {% elif userType == '教师' %}
                <li class="li_leftsubnavi"> <a class="a_leftsubnavi" href="">我的经费</a> </li>

                {% elif userType == '研究生' or userType == '本科生' %}
                <li class="li_leftsubnavi"> <a class="a_leftsubnavi" href="">教师经费</a> </li>

                {% endif %}
            </ul>
        </li>
        {% endif %}

        <!--只有教师才可以看到-->
        {% if userType == '教师' %}
        <li class="li_leftnavi">
            <a class="a_leftnavi" href="javascript:void(0)"
                onclick="showSubNavi('ul_studentmanage')">学生管理
            </a>
            <ul id="ul_studentmanage" class="ul_leftsubnavi">
                <li class="li_leftsubnavi"> <a class="a_leftsubnavi" href="">我的学生</a> </li>
            </ul>
        </li>
        {% endif %}

        <li class="li_leftnavi">
            <a class="a_leftnavi" href="javascript:void(0)"
                onclick="showSubNavi('ul_reserve')">预约系统
            </a>
            <ul id="ul_reserve" class="ul_leftsubnavi">
                <!--除学生外均有审核权限-->
                {% if userType == '研究生' or userType == '本科生' %}
                <li class="li_leftsubnavi"> <a class="a_leftsubnavi" href="">药品预约</a> </li>
                <li class="li_leftsubnavi"> <a class="a_leftsubnavi" href="">我的预约</a> </li>
                {% else %}
                <li class="li_leftsubnavi"> <a class="a_leftsubnavi" href="">预约审核</a> </li>
                {% endif %}
            </ul>
        </li>

    <ul>
</div>

<!--用户个人界面，修改密码等-->
<div id="div_RightPage">
     <div id="div_UserInfo">
        <div id="div_Image">
            <!--点击图片更换头像-->
            <img id="infoImage" src="/static/img/zzy.png"/>
            <hr id="infoLine"/>
        </div>
        <div id="div_Content">
            <p id="p_Type">
                <span>类&nbsp&nbsp&nbsp&nbsp型:</span>
                <label id="userType" for="spanType" />userType</label>
            </p>
            <p>
                <span>状&nbsp&nbsp&nbsp&nbsp态:</span>
                <label id="userState" for="spanState" />userState</label>
            </p>
            <form id="form_Office">
                <!--双击input时调整为可编辑状态-->
                <p>
                    <span>办公室:</span>
                    <input id="userOffice" type="text" name="userOffice" readonly="readonly" />
                </p>
                <p>
                    <span>电&nbsp&nbsp&nbsp&nbsp话:</span>
                    <input id="userPhone" type="text" name="userPhone" readonly="readonly" />
                </p>
            </form>
        </div>
    </div>
</div>

<!--右侧的用户列表-->
<div id="jsGrid">
</div>


</body>
</html>
