
<!DOCTYPE html>
<html>

<head>
    <title>个人管理页面</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"> 
    <link rel="stylesheet" type="text/css" href="/static/css/userHome.css"/>
    <script src="/static/js/userHome.js"></script>
    <script type="text/javascript" src="/static/js/jquery-3.3.1.js"></script>
</head>

<body>

<!--左侧的功能界面-->
<div class="div_leftpalate">
    <ul class="ul_leftnavi">
        <li class="li_leftnavi">
            <a class="a_leftnavi" href="javascript:void(0)" 
                onclick="showSubNavi('ul_usercenter')">个人中心
            </a>
            <ul id="ul_usercenter" class="ul_leftsubnavi">
                <li class="li_leftsubnavi">
                    <a class="a_leftsubnavi" href="javascript:void(0)"
                        onclick="showOneTable(this, 'AppUserManager', 'showUserInfo')">{{ userName }}
                    </a>
                </li>
                <li class="li_leftsubnavi">
                    <a class="a_leftsubnavi" href="javascript:void(0)"
                        onclick="showOneTable(this, 'AppUserManager', 'showModifyPassword')">修改密码
                    </a>
                </li>
                <li class="li_leftsubnavi">
                    <a class="a_leftsubnavi" href="javascript:void(0)"
                        onclick="logout(this)">退出账号
                    </a>
                </li>
            </ul>
        </li> 

        <!--只有超级管理员才可以看到-->
        {% if userType == '超级管理员' %}
        <li class="li_leftnavi">
            <a class="a_leftnavi" href="javascript:void(0)"
                onclick="showSubNavi('ul_usermanage')">用户管理
            </a>
            <ul id="ul_usermanage" class="ul_leftsubnavi">
                <li class="li_leftsubnavi">
                    <a class="a_leftsubnavi"  href="javascript:void(0)"
                        onclick="showOneTable(this, 'AppUserManager', 'showUserStates')">用户状态
                    </a>
                </li>
                <li class="li_leftsubnavi">
                    <a class="a_leftsubnavi" href="javascript:void(0)"
                        onclick="showOneTable(this, 'AppUserManager', 'showUserTypes')">用户类型</a>
                </li>
                <li class="li_leftsubnavi">
                    <a class="a_leftsubnavi" href="javascript:void(0)"
                        onclick="showOneTable(this, 'AppUserManager', 'showStudentTypes')">学生类型
                    </a>
                </li>
                <li class="li_leftsubnavi">
                    <a class="a_leftsubnavi" href="javascript:void(0)"
                        onclick="showOneTable(this, 'AppUserManager', 'showAdministrators')">管理员
                    </a>
                </li>
                <li class="li_leftsubnavi">
                    <a class="a_leftsubnavi" href="javascript:void(0)"
                        onclick="showOneTable(this, 'AppUserManager', 'showChiefLeaders')">院长
                    </a>
                </li>
                <li class="li_leftsubnavi">
                    <a class="a_leftsubnavi" href="javascript:void(0)"
                        onclick="showOneTable(this, 'AppUserManager', 'showLeaders')">副院长
                    </a>
                </li>
                <li class="li_leftsubnavi">
                    <a class="a_leftsubnavi" href="javascript:void(0)"
                        onclick="showOneTable(this, 'AppUserManager', 'showTeachers')">教师
                    </a>
                </li>
                <li class="li_leftsubnavi">
                    <a class="a_leftsubnavi" href="javascript:void(0)"
                        onclick="showOneTable(this, 'AppUserManager', 'showStudents')">学生
                    </a> 
                </li>
            </ul>
        </li>
        {% endif %}

        <!--只有超级管理员才可以看到-->
        {% if userType == '超级管理员' %}
        <li class="li_leftnavi">
            <a class="a_leftnavi" href="javascript:void(0)"
                onclick="showSubNavi('ul_matterconfig')">药品配置
            </a>
            <ul id="ul_matterconfig" class="ul_leftsubnavi">
                <li class="li_leftsubnavi">
                    <a class="a_leftsubnavi" href="javascript:void(0)"
                        onclick="showOneTable(this, 'AppMatterSetting', 'showMatterUnits')">计量单位
                    </a>
                </li>
                <li class="li_leftsubnavi">
                    <a class="a_leftsubnavi" href="javascript:void(0)"
                        onclick="showOneTable(this, 'AppMatterSetting', 'showMatterStates')">理化状态
                    </a>
                </li>
                <li class="li_leftsubnavi">
                    <a class="a_leftsubnavi" href="javascript:void(0)"
                        onclick="showOneTable(this, 'AppMatterSetting', 'showPurityLevels')">纯度规格
                    </a>
                </li>
                <li class="li_leftsubnavi">
                    <a class="a_leftsubnavi" href="javascript:void(0)"
                        onclick="showOneTable(this, 'AppMatterSetting', 'showMatterTypes')">药品类别
                    </a>
                </li>
                <li class="li_leftsubnavi">
                    <a class="a_leftsubnavi" href="javascript:void(0)"
                        onclick="showOneTable(this, 'AppMatterSetting', 'showStoreRooms')">存放仓库
                    </a>
                </li>
                <li class="li_leftsubnavi">
                    <a class="a_leftsubnavi" href="javascript:void(0)"
                        onclick="showOneTable(this, 'AppMatterSetting', 'showMatters')">所有药品
                    </a>
                </li>
                <li class="li_leftsubnavi">
                    <a class="a_leftsubnavi" href="javascript:void(0)"
                        onclick="showOneTable(this, 'AppMatterSetting', 'showMatterAlerts')">存量预警
                    </a>
                </li>
                <!--
                <li class="li_leftsubnavi">
                    <a class="a_leftsubnavi" href="javascript:void(0)"
                        onclick="showOneTable(this, 'AppMatterSetting', 'showMatterMinRemains')">最小剩余量
                    </a>
                </li>
                -->
                <li class="li_leftsubnavi">
                    <a class="a_leftsubnavi" href="javascript:void(0)"
                        onclick="showTwoTables(this, 'AppMatterSetting', 'showMatterAccessBlocks')">领取权限禁止
                    </a>
                </li>
            </ul>
        </li>
        {% endif %}

        <!--只有超级管理员和管理员才可以看到-->
        {% if userType == '超级管理员' or userType == '管理员' %}
        <li class="li_leftnavi">
            <a class="a_leftnavi" href="javascript:void(0)"
                onclick="showSubNavi('ul_mattermanage')">药品管理
            </a>
            <ul id="ul_mattermanage" class="ul_leftsubnavi">
                <li class="li_leftsubnavi">
                    <a class="a_leftsubnavi" href="javascript:void(0)"
                        onclick="showOneTable(this, 'AppMatterManager', 'showCensoreStates')">审核状态
                    </a>
                </li>
                <li class="li_leftsubnavi">
                    <a class="a_leftsubnavi" href="javascript:void(0)"
                        onclick="showOneTable(this, 'AppMatterManager', 'showCensorePatterns')">审核流程
                    </a>
                </li>
                <li class="li_leftsubnavi">
                    <a class="a_leftsubnavi" href="javascript:void(0)"
                        onclick="showOneTable(this, 'AppMatterManager', 'showFormStates')">单据状态
                    </a>
                </li>
                <li class="li_leftsubnavi">
                    <a class="a_leftsubnavi" href="javascript:void(0)"
                        onclick="showOneTable(this, 'AppMatterManager', 'addMatterDetails')">入库
                    </a>
                </li>
                <li class="li_leftsubnavi"> <a class="a_leftsubnavi" href="">入库清单</a> </li>
                <li class="li_leftsubnavi"> <a class="a_leftsubnavi" href="">出库</a> </li>
                <li class="li_leftsubnavi"> <a class="a_leftsubnavi" href="">出库清单</a> </li>
                <li class="li_leftsubnavi"> <a class="a_leftsubnavi" href="">预采购</a> </li>
                <li class="li_leftsubnavi"> <a class="a_leftsubnavi" href="">预采购清单</a> </li>
            </ul>
        </li>
        {% endif %}


        <!--只有超级管理员、教师和学生可见-->
        {% if userType == '超级管理员' or userType == '教师' or userType == '研究生' or userType == '本科生' %}
        <li class="li_leftnavi">
            <a class="a_leftnavi" href="javascript:void(0)"
                onclick="showSubNavi('ul_financemanage')">经费管理
            </a>

            <ul id="ul_financemanage" class="ul_leftsubnavi">
                {% if userType == '超级管理员' %}
                <li class="li_leftsubnavi">
                    <a class="a_leftsubnavi" href="javascript:void(0)"
                        onclick="showOneTable(this, 'AppUserManager', 'showFinances')">所有经费
                    </a>
                </li>

                <li class="li_leftsubnavi">
                    <a class="a_leftsubnavi" href="javascript:void(0)"
                        onclick="showFinances()">经费充值
                    </a>
                </li>

                {% elif userType == '教师' %}
                <li class="li_leftsubnavi"> <a class="a_leftsubnavi" href="">我的经费</a> </li>

                {% elif userType == '研究生' or userType == '本科生' %}
                <li class="li_leftsubnavi"> <a class="a_leftsubnavi" href="">教师经费</a> </li>

                {% endif %}
            </ul>
        </li>
        {% endif %}

        <!--只有教师才可以看到-->
        {% if userType == '教师' %}
        <li class="li_leftnavi">
            <a class="a_leftnavi" href="javascript:void(0)"
                onclick="showSubNavi('ul_studentmanage')">学生管理
            </a>
            <ul id="ul_studentmanage" class="ul_leftsubnavi">
                <li class="li_leftsubnavi"> <a class="a_leftsubnavi" href="">我的学生</a> </li>
            </ul>
        </li>
        {% endif %}

        <li class="li_leftnavi">
            <a class="a_leftnavi" href="javascript:void(0)"
                onclick="showSubNavi('ul_reserve')">预约系统
            </a>
            <ul id="ul_reserve" class="ul_leftsubnavi">
                <!--除学生外均有审核权限-->
                {% if userType == '研究生' or userType == '本科生' %}
                <li class="li_leftsubnavi"> <a class="a_leftsubnavi" href="">药品预约</a> </li>
                <li class="li_leftsubnavi"> <a class="a_leftsubnavi" href="">我的预约</a> </li>
                {% else %}
                <li class="li_leftsubnavi"> <a class="a_leftsubnavi" href="">预约审核</a> </li>
                {% endif %}
            </ul>
        </li>

    <ul>
</div>

<!--右侧的界面，如用户个人界面，修改密码，table列表等等-->
<div id="div_RightPage">
</div>

</body>
</html>
