div#jsUpGrid{
    position:relative;
    height:50%;
    min-height:400px;
    width:100%;
    min-width:800px;
}

div#jsDownGrid{
    position:relative;
    height:50%;
    min-height:400px;
    width:100%;
    min-width:800px;
}
